*{
    margin: 0;
    padding: 0;
}
#home-page{

    width: 100vw;
    height: 100vh;
    background-color: honeydew;
    text-align: center;
}

#secret-box{
    width:172px;
    height:150px;
    background-color: rosybrown;
    margin:12px auto;
}

#redo{
    width:200px;
    height:200px;
    border-radius: 50%;
    background-color: steelblue;
    border: 5px solid mediumseagreen;
    position: absolute;
    top: 150px;
    left:22px;
}

h1{
    margin:20px 20px
}

h2{
    margin:20px 20px;
    color:darkolivegreen;
}

.animate-boxy{
    animation: grow 5s;
}

@keyframes grow{
    0%{ width: 172px;}
    50%{ width: 350px;}
    100%{ width:172px; }
}